{%- extends "bootstrap/base.html" %}
{% block title %}Guard your site away from broken links{% endblock %}

{# While we are at it, we also enable fixes for legacy browsers. First we
   import the necessary macros: #}
{% import "bootstrap/fixes.html" as fixes %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{# Adding our own CSS files is also done here. Check the documentation at
   http://pythonhosted.org/Flask-Bootstrap/basic-usage.html#available-blocks
   for an overview. #}
{% block styles %}
    {{super()}}
{% endblock %}

{# Finally, round things out with navigation #}
{% block navbar %}

<a href="https://github.com/FingerLiu/link-guard">
<img style="position: absolute; top: 52px; right: 0; border: 0;" 
src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"
 data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
 </a>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#8fad58cc076a8cf6b090dc168fc3a48e2ade84b0" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="navbar-collapse collapse" id="8fad58cc076a8cf6b090dc168fc3a48e2ade84b0">
      <ul class="nav navbar-nav">
        <li>
          <a href="/create-link/" title="Add Link">Add Link</a>
        </li>
        <li>
          <a href="/list-link/" title="List Links">List Links</a>
        </li>
        <p class="navbar-text">林克刀客・特(Demo)</p>
      </ul>
<ul class="nav navbar-nav pull-right">

        <li>
          {% if current_user.is_authenticated %}
            <a href="/logout/" title="Logout">{{ current_user.username  }}</a>
          {% else %}
            <a href="/login/" title="Login">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
