
{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}


{% block content %}
   <div class="container">
      <div class="jumbotron">
        <h1>Link Doctor</h1>
        <p>Add your site to guard.</p>
        <p>Check connectivity of all link in your site(ref of other webpages, CDN and even inner links) regularly.</p>
        <p>As time pass by, site you referenced maybe out of date, </p>
        <p>CDN you used maybe down due to tech issues(or by GWF ..)</p>
        <p>Usually these things will give your user a <strong>404</strong> or even break your page style.</p>
        <p>All these things are <strong>NOT user friendly.</strong></p>
        <hr>
        <p>With <strong>link doctor</strong>, it will check your site regularly and tell you whether links in your site is OK.</p>
      </div>
   <div class="col-md-12">

   </div>
{%- endblock %}
